.button{
    height: 2.5rem;
    border: none;
    width: 15rem;
    /* background: #cb0668;
    color: #fff; */
    background: linear-gradient(to right, var(--primary-color), var(--primary-color2));
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem auto; 
    border-radius: 0.7rem;
    cursor: pointer;
  }
  .button:hover{
    background: #fff;
    -webkit-text-fill-color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }