.info{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 3rem auto;
    gap: 2rem;
}
.title{
    color: var(--primary-color);
}
.infoContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
}
.avatar{
    flex: 1;
}