@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --secondbackground: #fff; */
    /* --foreground: #ededed; */

    --primary-color: #cb0668;
    --primary-color2: #de85cf;
    --white-color: #fff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}