@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --secondbackground: #fff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

/* .container{
  background-color: red;
} */