@keyframes changeBackground {
  0% {
    background-image: url('/images/family1.png');
  }
  33% {
    background-image: url('/images/homepageBg1.png');
  }
  66% {
    background-image: url('/images/hompage.png');
  }
  100% {
    background-image: url('/images/homepageBg1.png'); /* Loops back */
  }
}

.divWithBg {
  width: 100%; /* Set your preferred width */
  height: 25rem; /* Set your preferred height */
  background-size: cover;
  background-position: center;
  animation: changeBackground 15s infinite; /* 6s for 3 images, 2s per image */
  border-radius: 1rem;
}

.home{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: var(--font-habibi);
}
.item, .divWithBg{
  flex: 1;
}
.item{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title{
  font-size: 3rem;
  background: linear-gradient(to bottom, #cb0668, #de85cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc{
  font-size: 1.4rem;
}
.button{
  height: 2.5rem;
  border: none;
  width: 15rem;
  /* background: #cb0668;
  color: #fff; */
  background: linear-gradient(to right, var(--primary-color), var(--primary-color2));
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 1rem auto; 
  border-radius: 0.7rem;
  cursor: pointer;
}
.button:hover{
  background: #fff;
  -webkit-text-fill-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}