@keyframes changeBackground {
  0% {
    background-image: url('/images/family1.png');
  }
  33% {
    background-image: url('/images/homepageBg1.png');
  }
  66% {
    background-image: url('/images/hompage.png');
  }
  100% {
    background-image: url('/images/homepageBg1.png'); /* Loops back */
  }
}

.divWithBg {
  width: 100%; /* Set your preferred width */
  height: 25rem; /* Set your preferred height */
  background-size: cover;
  background-position: center;
  animation: changeBackground 15s infinite; /* 6s for 3 images, 2s per image */
}