@keyframes changeBackground {
  0% {
    background-image: url('/images/family1.png');
  }
  33% {
    background-image: url('/images/homepageBg1.png');
  }
  66% {
    background-image: url('/images/hompage.png');
  }
  100% {
    background-image: url('/images/homepageBg1.png'); /* Loops back */
  }
}

.divWithBg {
  width: 100%; /* Set your preferred width */
  height: 25rem; /* Set your preferred height */
  background-size: cover;
  background-position: center;
  animation: changeBackground 15s infinite, move 2s infinite ease alternate; /* 6s for 3 images, 2s per image */
  border-radius: 1rem;
}

@keyframes move{
  from{
      transform: translateY(-15px);
  }
}

.home{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: var(--font-habibi);
}
.item, .divWithBg{
  flex: 1;
}
.item{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title{
  font-size: 3rem;
  background: linear-gradient(to bottom, #cb0668, #de85cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc{
  font-size: 1.4rem;
}
